<footer class="footer">
  <div class="container-fluid">
    <small>Tarif Sitesi - Oğulcan Göktürk</small>
    <ul class= "nav">
      <li><%= link_to "Hakkında",	hakkinda_path	%></li>
      <li><%= link_to "İletişim",	iletisim_path	%></li>
    </ul>
  </div>
</footer>
